.legal {
  background-color: white;
  padding-bottom: 50px;

  h1 {
    text-align: center;
    padding: 20px 0px;
  }
  h3 {
    text-decoration: underline;
    padding: 15px 0px;
  }
  h4 {
    font-weight: bold;
  }
}
.logo-legal img {
  height: 100px;
  padding: 20px;
}
.legal-text a {
  color: green;
}
.container a:hover {
    opacity: 0.5;
    text-decoration: none;
  }


@media (max-width: 900px) {
  .legal {
    padding: 10px 20px;
  }
  .legal h4 {
    font-size: 20px;
  }
}
