#blog {
  background-color: white;
  padding: 30px 0px;
  // padding-bottom: 140px;
}
.presentation-article {
  height: 100%;
  padding-top: 15px;
}
.blog-presentation h2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
  }
.blog-presentation h2:after{
    content: "";
    position: absolute;
    width: 4%;
    height: 1px;
    bottom: -10px;
    left: 48%;
    border-bottom: 5px solid #333333;

  }

@media (max-width: 1000px) {
  #blog {
    overflow: hidden;
  }
}
