#projet {
  padding: 30px;
}

.projet-presentation h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
  }
.projet-presentation h2:after{
    content: "";
    position: absolute;
    width: 12%;
    height: 1px;
    bottom: -10px;
    left: 43%;
    border-bottom: 5px solid #333333;
  }
