#projet {
  padding: 30px 0px;
  background-color: #F4F4F4;;
}
.text-projet {
  position: relative;
}
.projet-presentation h2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
  }

.text p {
  line-height: 28px;
}


// #projet {
//   padding: 30px 0px;
// }

// .projet-presentation h2 {
//     text-align: center;
//     margin-top: 80px;
//     margin-bottom: 50px;
//     font-weight: bolder;
//     position: relative;
//     letter-spacing: 2px;
//   }

// .projet-presentation h2:after{
//     content: "";
//     position: absolute;
//     width: 11%;
//     height: 1px;
//     bottom: -10px;
//     left: 45%;
//     border-bottom: 5px solid #333333;
//   }

// .text-projet p {
//   padding-top: 5px;
// }
.bold-text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  padding-top: 5px;
  margin-bottom: 70px;
  text-align: center;
}

// @media (max-width: 768px) {
//   .projet-presentation .text-projet {
//     padding: 0px 30px;

//   }
// }

@media screen and (max-width: 993px) {
  #projet {
    overflow: hidden;
  }
  .text-projet {
    padding: 30px 30px;

  }
}
