#service {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-back {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.service-presentation {
  padding: 30px;
  background-color: transparent;
  text-align: center;
  font-size: 17px;
  i {
    font-size: 40px;
    color: $green-blue;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 50px;
  }
}
.img {
  color: white;
}
.white-title h2 {
  color: white;
}
.white-title h2:after {
  border-bottom: 5px solid white;
  display: none;
}
.white-icon i {
  color: white;
}

.service-presentation h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
  }
.service-presentation h2:after{
    content: "";
    position: absolute;
    width: 12%;
    height: 1px;
    bottom: -10px;
    left: 43%;
    border-bottom: 5px solid #333333;
  }
