#service {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0px;
}

.img-back {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.service-presentation {
  background-color: transparent;
  text-align: center;
  font-size: 17px;
  padding-top: 5px;
  i {
    font-size: 40px;
    color: $green;
    margin-bottom: 20px;
    margin-top: 25px;
  }
  p {
    margin-bottom: 50px;
  }
}
.img {
  color: white;
}
.white-title h2 {
  color: white;
  margin-top: 70px;
}
.white-title h2:after {
  border-bottom: 5px solid white;
  content: "";
  position: absolute;
  width: 12%;
  height: 1px;
  bottom: -10px;
  left: 43%;
  border-bottom: 5px solid white;
}
.white-icon i {
  color: white;
}

.service-presentation h2 {
    text-align: center;
    // margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
  }

@media (max-width: 900px) {
  #service {
    overflow: hidden;
  }
}
