#team {
  padding: 30px 0px;
  margin-bottom: 50px;
}
.team-presentation h2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
  }
// .team-presentation h2:after{
//     content: "";
//     position: absolute;
//     width: 11%;
//     height: 1px;
//     bottom: -10px;
//     left: 45%;
//     border-bottom: 5px solid #333333;
//   }
.description {
  position: relative;
}

.box {
  position: relative;
  margin-left: 65px;
  border-radius: 5px;
  background-color: white;
  padding: 40px 48px 40px 90px;
  height: 175px;
  width: 400px;
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 30px;
}
.box h4 {
  position: relative;
  // font-size: 18px;
  margin-bottom: 4px;
  font-weight: bold;
}

.box .poste {
  position: relative;
  font-style: italic;
  margin-bottom: 18px;
  font-size: 18px;
  font-family: 'Lora', serif;
  color: rgba(0,0,0,0.35);
}
.photo {
  position: absolute;
  width: 130px;
  height: 130px;
  left: -65px;
  top: 50%;
  margin-top: -65px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid white;
}
.image {
  background-position: center !important;
  width: 130px;
  height: 130px;
}
.linkedin {
  position: absolute;
  color: #0073BB;
  font-size: 30px;
  right: 8px;
  top: 5%;
  :hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.coordonnees  a {
  color: black;
  font-size: 16px;

}
.coordonnees :hover {
    color: $green;
    text-decoration: none;
  }

.second-line {
  padding-top: 40px;
}

@media (max-width: 800px) {
  .photo {
    height: 60px;
    width: 60px;
    left: 0px;
    top: 40%;
  }
  .image {
    background-position: center;
    height: 60px;
    width: 60px;
  }
  .box {
    width: 95%;
    margin: auto;
    padding: auto;
  }
  .charles {
    margin-bottom: 30px;
  }
  .luka {
    margin-bottom: 30px;
  }
  .box h5 {
    margin-left: -20px;
  }
  .box .poste {
    margin-left: -20px;
  }
}
