<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram" onclick="window.open('https://www.instagram.com/secoya_ecotournage/')" ></i></a>
    <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
    <a href="#"><i class="fab fa-twitter" onclick="window.open('https://twitter.com/SECOYA_Eco?lang=fr')"></i></a>
   <!--  <a href="#"><i class="fa fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright"><%= link_to 'Mentions légales', legal_path %>
  </div>
</div>


