<!-- <div class="first-navbar">
  <div class="row info-contact">
    <div class="col-sm-6 info-top-left">
      <div class="top-bar-item item-contact-info">
        <div id="header-contact-info" class="top-contact-info">
          <ul class="header-contact-details">
            <i class="fa fa-phone" aria-hidden="true">  07.99.00.00.00</i> &nbsp; &nbsp;
            <i class="fa fa-envelope" aria-hidden="true"> secoya@secoya.fr</i>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6 info-top-right">
      <div class="top-bar-item item-social">
        <div id="header-social-links" class="header-social">
          <ul class="link-social">
            <i class="fa fa-facebook-f"></i> &nbsp;
            <i class="fa fa-linkedin-square"></i>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div id="#banner" class="navbar-wagon">

    <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50, class: "logo-navbar" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-right navbar-center hidden-xs hidden-sm">
    <div class="navbar-wagon-item navbar-wagon-link projet">PROJET</div>
    <div class="navbar-wagon-item navbar-wagon-link service">SERVICES</div>
    <div class="navbar-wagon-item navbar-wagon-link team">NOTRE EQUIPE</div>
    <div class="navbar-wagon-item navbar-wagon-link blog">REVUE DE PRESSE</div>
    <div class="navbar-wagon-item navbar-wagon-link contact">CONTACT</div>
<!--       <div class="contact-navbar">
        <div class="contact-content">
          <p><span style="letter-spacing: 3.5px;">Tel</span> : <span style="letter-spacing: 3.3px;">00.00.00.00.00</span></p>
          <p>contact@secoya.fr</p>
        </div>
      </div> -->

    <!-- Profile picture with dropdown list -->
<!--     <div class="navbar-wagon-item">
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <div class="navbar-wagon-item navbar-wagon-link projet">Projet</div>
          <div class="navbar-wagon-item navbar-wagon-link service">Services</div>
          <div class="navbar-wagon-item navbar-wagon-link team">Notre équipe</div>
          <div class="navbar-wagon-item navbar-wagon-link blog">Actu</div>
          <div class="navbar-wagon-item navbar-wagon-link contact">Contact</div>
        </ul>
      </div>
    </div> -->

  </div>

  <!-- Dropdown appearing on mobile only -->
<!--   <div class="navbar-wagon-mobile hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <div class="navbar-wagon-item navbar-wagon-link projet">Projet</div>
        <div class="navbar-wagon-item navbar-wagon-link service">Services</div>
        <div class="navbar-wagon-item navbar-wagon-link team">Notre équipe</div>
        <div class="navbar-wagon-item navbar-wagon-link blog">Actu</div>
        <div class="navbar-wagon-item navbar-wagon-link contact">Contact</div>
      </ul>
    </div>
  </div> -->

</div>
