<!-- <div class="first-navbar">
  <div class="row info-contact">
    <div class="col-sm-6 info-top-left">
      <div class="top-bar-item item-contact-info">
        <div id="header-contact-info" class="top-contact-info">
          <ul class="header-contact-details">
            <i class="fa fa-phone" aria-hidden="true">  07.99.00.00.00</i> &nbsp; &nbsp;
            <i class="fa fa-envelope" aria-hidden="true"> secoya@secoya.fr</i>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6 info-top-right">
      <div class="top-bar-item item-social">
        <div id="header-social-links" class="header-social">
          <ul class="link-social">
            <i class="fa fa-facebook-f"></i> &nbsp;
            <i class="fa fa-linkedin-square"></i>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="navbar-wagon navbar-home">

    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "clap.png" %>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="#projet" class="navbar-wagon-item navbar-wagon-link">Projet</a>
    <a href="#service" class="navbar-wagon-item navbar-wagon-link">Services</a>
    <a href="#team" class="navbar-wagon-item navbar-wagon-link">Qui sommes-nous?</a>
    <a href="#blog" class="navbar-wagon-item navbar-wagon-link">Blog</a>
    <a href="#contact" class="navbar-wagon-item navbar-wagon-link">Contact</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <!-- <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> -->
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#projet">Projet</a></li>
          <li><a href="#service">Services</a></li>
          <li><a href="#team">Qui sommes-nous?</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#projet">Projet</a></li>
        <li><a href="#service">Services</a></li>
        <li><a href="#team">Qui sommes-nous?</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

