<div id="contact">
  <div class="container-fluid infos">
    <div class="row">
      <div class="col s10 offset-s1 col m8 offset-m2">
      <h2>Contact</h2>

<!--       <div class="contact-form">
        <form method="POST" action="https://formspree.io/agaloubert@hotmail.com">
          <input type="text" name="name" placeholder="Votre nom" class="form-control" required>
          <input type="email" name="email" placeholder="Votre email" class="form-control" required>
          <textarea name="body" rows="8" width="100%" placeholder="Entrez votre message ici" class="form-control"></textarea>
          <br>
          <input type="hidden" name="_next" value="/">
          <center><input id="sweet-alert-demo" type="submit" value="Envoyer" class="btn btn-cadre"></center>

        </form>
      </div> -->
    </div>

  </div>
</div>


</div>
