 <div id="projet">
  <div class="container projet-presentation">
    <div class="row">
      <h2>Notre projet</h2>
        <div class="col-xs-12 text-projet">
          <p>
             La transition environnementale est en marche, et tous les secteurs se mettent au vert. L’audiovisuel français accuse cependant un certain retard sur ces bonnes pratiques. Nous pouvons influencer des millions de spectateurs en montrant un engagement novateur et inspirant. Il est temps d’être les acteurs de demain et de participer à la transition environnementale ! <br>
             <br>
             <span style="font-weight: bold">S<span style="color: green">ECOY</span>A</span> veut aujourd’hui accompagner les productions pour mettre cette implication au centre des considérations afin de rester modernes et compétitifs au regard du public et du monde. <br>
             <br>
             Il existe cependant un mythe : inclure la notion d’éco-responsabilité dans la conception d’un projet entraine des complexités et des coûts incompatibles avec les contraintes d’une production. Nous sommes là pour vous prouver le contraire ! <br>
             <br>
             Il est indispensable qu’un changement s’opère afin d’alléger notre empreinte écologique, tout en continuant à créer le divertissement de demain. Long-métrage, court-métrage,  série TV, publicité, shooting photo : <span style="font-weight: bold">S<span style="color: green">ECOY</span>A</span> accompagne les productions afin que cette industrie reste moderne par son exemplarité. <br>
             <br>
             <div class="bold-text">Notre mission : un bilan carbone allégé, des économies ciblées, un projet et une production engagés.</div>
            </p>
        </div>
    </div>
  </div>
</div>
