<!-- <div id="service" class="img-back section" style="background-image: : linear-gradient(rgba(2,109,2,0.8), rgba(2,109,2,0.9)), url(<%= image_path 'feuilles.jpg' %>);"> -->
  <div id=service class="img-back section">
  <div class="container service-presentation">
    <div class="row">
      <div class="white-title"><h2>Nos services</h2></div>
      <div class="text-intro"><p>En s’appuyant sur son expertise ainsi que sur les outils <a onclick="window.open('http://www.ecoprod.com/fr/')" >Ecoprod</a>, SECOYA vous aide à engager une transition éco-responsable. <br> Les 3 actions clefs sont:</p></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 img">
        <div class="white-icon"><%= image_tag 'clapblack.png' %>
          <h4>EN PREPARATION</h4>
          <p>Un éco-manager dédié étudie et détermine les spécificités du tournage afin de définir les principaux leviers de réduction de son empreinte écologique.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 img">
        <!-- <div class="white-icon"><i class="fas fa-camera-retro"></i></div> -->
        <div class="white-icon"><%= image_tag 'camera.png' %>
          <h4>PENDANT LE TOURNAGE</h4>
          <p>L’éco-manager assure la mise en œuvre logistique des préconisations de l’audit.</p> <br> <br> <br>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 img">
        <!-- <div class="white-icon"><i class="fas fa-calendar-check"></i></div> -->
        <div class="white-icon end"><%= image_tag 'roll.png' %>
          <h4>EN FIN DE TOURNAGE</h4>
          <p>Bilan carbone, bilan des actions menées et bilan économique</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>



<!-- <div id="service">
  <div class="container service-presentation">
    <div class="row">
      <h2>Nos services</h2>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-pagelines"></i>
        <h4>ECOLOGIE</h4>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-camera"></i>
        <h4>CINE</h4>
        <p>Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-cogs"></i>
        <h4>RESPONSABILITE</h4>
        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta.</p>
      </div>
    </div>
  </div>
</div> -->
