<div id="service">
  <div class="container service-presentation">
    <div class="row">
      <h2>Nos services</h2>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-pagelines"></i>
        <h4>ECOLOGIE</h4>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-camera"></i>
        <h4>CINE</h4>
        <p>Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-cogs"></i>
        <h4>RESPONSABILITE</h4>
        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta.</p>
      </div>
    </div>
  </div>
</div>
