<div id="team">
  <div class="container team-presentation">
    <div class="row">
      <h2>Qui sommes-nous?</h2>
        <div class="col-xs-12 col-sm-6">
          <div class="description">
            <div class="box">
              <div class="photo">
                <%= image_tag 'avatar.png', class:"image" %>
              </div>
                <h5>Charles Gachet-Dieuzeide</h5>
                  <div class="poste">
                    <p>intitulé du poste</p>
                  </div>
                    <div class="coordonnees">
                      <i class="fa fa-envelope">&nbsp;<a href="mailto:charles@secoya.fr">charles@secoya.fr</a></i>
                    </div>
                      <div class="linkedin">
                        <i class="fa fa-linkedin-square"></i>
                      </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="description">
            <div class="box">
              <div class="photo">
                <%= image_tag 'emoji.png', class:"image" %>
              </div>
                <h5>Mathieu Delahousse</h5>
                  <div class="poste">
                    <p>intitulé du poste</p>
                  </div>
                    <div class="coordonnees">
                      <i class="fa fa-envelope">&nbsp;<a href="mailto:mathieu@secoya.fr">mathieu@secoya.fr</a></i>
                    </div>
                      <div class="linkedin">
                        <i class="fa fa-linkedin-square"></i>
                      </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row second-line">
        <div class="col-xs-12 col-sm-6">
          <div class="description">
            <div class="box">
              <div class="photo">
                <%= image_tag 'luka.jpg', class:"image" %>
              </div>
                <h5>Lucas Robin-Chevalier</h5>
                  <div class="poste">
                    <p>intitulé du poste</p>
                  </div>
                    <div class="coordonnees">
                      <i class="fa fa-envelope">&nbsp;<a href="mailto:lucas@secoya.fr">lucas@secoya.fr</a></i>
                    </div>
                      <div class="linkedin">
                        <i class="fa fa-linkedin-square" onclick="window.open('https://www.linkedin.com/in/lucasrobinchevallier/')"></i>
                      </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="description">
            <div class="box">
              <div class="photo">
                <%= image_tag 'iris.jpg', class:"image" %>
              </div>
                <h5>Iris Delahousse</h5>
                  <div class="poste">
                    <p>intitulé du poste</p>
                  </div>
                    <div class="coordonnees">
                      <i class="fa fa-envelope">&nbsp;<a href="mailto:iris@secoya.fr">iris@secoya.fr</a></i>
                    </div>
                      <div class="linkedin">
                        <i class="fa fa-linkedin-square" onclick="window.open('https://www.linkedin.com/in/iris-delahousse-63aa8368/')"></i>
                      </div>
            </div>
          </div>
        </div>
    </div>




  </div>
</div>
