.card {
  height: 250px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
#revue_de_presse .card {
  height: 160px;
}
.card-image {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

#talk_to_us {
      background-size: contain;
      height: 114px;
      background-repeat: no-repeat;
}
.card-image:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card-description {
  position: absolute;
  background-color: white;
  width: 100%;
  color: black;
  padding: 18px;
  background-color: #F4F4F4;
  // border: 1px solid black;
}
.card-description h5 {
  margin: 0px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.card-description h5:hover {
  opacity: 0.5;
  cursor: pointer;
  color: $green;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
}
.card-description a {
  text-align: center;
}
.card-description a:hover {
  text-decoration: none;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

@media (max-width: 1100px) {
  .card-description h5 {
    font-size: 18px;
  }
}
